{% extends "layout.jinja2" %}
{% block body %}
    <form method="POST">
        <p>
            <label for="statement">Alexa will say this: </label>
            <input type="text" name="statement"/>
        </p>
        <p>
            <label for="killscore_id">Level of Severity: (-8 is the sickest of burns, 8 is meh) </label>
            <input type="number" name="killscore_id" min="-8" max="8">
        </p>
        <input type="submit" value="submit"/>
    </form>
{% endblock %}