{% extends "layout.jinja2" %}
{% block body %}
{% if user.admin %}
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
 
    </form>
    <table>
    <th>Username</th>
    <th>Email</th>
    <th>Admin?</th>
    {% for user in users %}
        {% if user.admin == True %}
        <tr>
        <td><b><a href="/profile/{{ user.username }}">
            {{ user.username }}
            </a></b></td>
        <td><b>{{ user.email }}</b></td>
        <td><b>{{ user.admin }}</b></td>
        </tr>
        {% endif %}
    {% endfor %}
    {% for user in users %}
        {% if user.admin == False %}
        <tr>
        <td><a href="/profile/{{ user.username }}">{{ user.username }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.admin }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>

{% else %}
<p>You must be an admin to view this page.</p>
{% endif %}
{% endblock %}