<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Troll Py{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{{request.route_url('home')}}">Home</a>
                </li>
                {% if request.authenticated_userid %}
                    <li>
                        <a href="{{request.route_url('profile', userid=request.authenticated_userid)}}">Profile</a>
                    </li>
                    <li>
                        <a href="{{request.route_url('logout')}}">Log Out</a>
                    </li>
                {% else %}            
                    <li>
                        <a href="{{request.route_url('registration')}}">Register</a>
                    </li>
                    <li>
                        <a href="{{request.route_url('login')}}">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
  {% block body %}{% endblock %}
</body>
</html>