<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chess{% endblock %} - TrollPy</title>
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/chessboard.css">
    <script src="/static/js/chessboard.js"></script>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
</head>

<body>
    <header>
        <div class="row">
            <div class="large-12 columns">
                <h1>Welcome to TrollPy-Chess</h1>
            </div>
        </div>
    </header>
    <nav class="large-12 columns">
        <ul>
            <li>
                <a href="{{request.route_url('home')}}">Play</a>
            </li>
            {% if request.authenticated_userid %}
            <li>
                <a href="{{request.route_url('profile', userid=request.authenticated_userid)}}">Profile</a>
            </li>
            <li>
                <a href="{{request.route_url('logout')}}">Log Out</a>
            </li>
            {% else %}            
            <li>
                <a href="{{request.route_url('registration')}}">Register</a>
            </li>
            <li>
                <a href="{{request.route_url('login')}}">Log In</a>
            </li>
            {% endif %}
        </ul>
    </nav>


    <div class="row">
        <div class="large-12 columns">
            {% block body %}{% endblock %}
        </div>
    </div>


    <script src="/static/js/vendor/what-input.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
