{% extends "layout.jinja2" %}
{% block body %}
<form method="POST">
    
    <p>
        <label for="username">Username: </label>
        <input type="text" name="username"/>
    </p>
    <p>
        <label for="password">Password: </label>
        <input type="password" name="password"/>
    </p>
    <p>
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name"/>
    </p>
    <p>
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name"/>
    </p>
    <p>
        <label for="email">Email: </label>
        <input type="email" name="email"/>
    </p>
    <input type="submit" value="Submit"/>

</form>


{% endblock %}